<h1>Hello Test world</h1>
<%= @foo %>
<%= bar() %>

<%= form_for @post, "/posts", fn f -> %>
  <div class="form-group">
    <label>タイトル</label>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title%>
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
